<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="AppiumUtil.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Alert View Test">
        <classes>
            <class name="AlertViewsTests"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Stack View Test">
        <classes>
            <class name="StackViewsTests"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Switch View Test">
        <classes>
            <class name="SwitchViewTests"></class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Picker View Test">
        <classes>
            <class name="PickerViewTests"></class>
        </classes>
    </test>
</suite>

